@using Microsoft.AspNetCore.Rewrite.Internal.UrlActions
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row">
        <div class="col-md-4 offset-md-2">
            <button type="button" class="main-menu-button" onclick="window.location = '@Url.Action("Index", "Customer")'">
                <div class="col-md-12 main-menu-icon"><i class="fas fa-user-plus"></i></div>
                <div class="col-md-12 main-menu-text">Customer Registration</div>
            </button>
        </div>
        <div class="col-md-4">
            <button class="main-menu-button">
                <div class="col-md-12 main-menu-icon"><i class="fas fa-user-plus"></i></div>
                <div class="col-md-12 main-menu-text">Ticket Registration</div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <button class="main-menu-button">
                <div class="col-md-12 main-menu-icon"><i class="fas fa-user-plus"></i></div>
                <div class="col-md-12 main-menu-text">Asign Reward</div>
            </button>
        </div>
        <div class="col-md-4">
            <button class="main-menu-button">
                <div class="col-md-12 main-menu-icon"><i class="fas fa-user-plus"></i></div>
                <div class="col-md-12 main-menu-text">Check Ticket</div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <button class="main-menu-button">
                <div class="col-md-12 main-menu-icon"><i class="fas fa-user-plus"></i></div>
                <div class="col-md-12 main-menu-text">Claim Reward</div>
            </button>
        </div>
        <div class="col-md-4">
            <button class="main-menu-button">
                <div class="col-md-12 main-menu-icon"><i class="fas fa-user-plus"></i></div>
                <div class="col-md-12 main-menu-text">Logout</div>
            </button>
        </div>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

