@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <textarea rows="12" class="form-control"></textarea>
</div>

@section Scripts{ 
    <script type="text/javascript">
        $("textarea").keyboard();
    </script>
}
